{% import "_includes/forms" as forms %}

<h3>Friendly Captcha keys</h3>

{{ forms.autosuggestField({
    label: 'Site Key',
    instructions: 'Your personal Friendly Captcha site key.',
    id: 'siteKey',
    name: 'siteKey',
    value: integration.siteKey,
    required: true,
    suggestEnvVars: true
})
}}

{{ forms.autosuggestField({
    label: 'API Key',
    instructions: 'Your personal Friendly Captcha API key.',
    id: 'apiKey',
    name: 'apiKey',
    value: integration.apiKey,
    required: true,
    suggestEnvVars: true
})
}}

<hr>

<h3>Options</h3>

{{ forms.checkboxField({
    label: 'Dark mode theme',
    id: 'darkMode',
    name: 'darkMode',
    checked: integration.darkMode,
}) }}

{{ forms.selectField({
    label: 'Start on',
    instructions: 'You can specify when the widget should start solving a puzzle.',
    name: 'startEvent',
    value: integration.startEvent ?? 'focus',
    options: [{
        value: 'focus',
        label: 'Focus (the solver will start as soon as possible)',
    }, {
        value: 'auto',
        label: 'Auto (as soon as the form the widget is in fires the focusin event the solver starts)',
    }, {
        value: 'none',
        label: 'None (the solver only starts when the user presses the button)',
    }],
}) }}
<p class="notice has-icon">
    <span class="icon" aria-hidden="true"></span>
    <span>
        Read
        <a href="https://docs.friendlycaptcha.com/#/widget_api?id=data-start-attribute" target="_blank">
            Friendly Captcha documentation about the start-trigger
        </a>
    </span>
</p>

{{ forms.selectField({
    label: 'Endpoint',
    instructions: 'Use the EU endpoint for the verification of submitted puzzles. (Friendly Captcha Advanced or Enterprise plan)',
    name: 'endpoint',
    value: integration.endpoint ?? 'global',
    options: [{
        value: 'global',
        label: 'Global',
    }, {
        value: 'eu',
        label: 'EU (Friendly Captcha Advanced or Enterprise plan)',
    }],
}) }}
<p class="notice has-icon">
    <span class="icon" aria-hidden="true"></span>
    <span>
        Read
        <a href="https://docs.friendlycaptcha.com/#/eu_endpoint" target="_blank">
            Friendly Captcha documentation about Dedicated EU Endpoint
        </a>
    </span>
</p>

<hr>